/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom styles */
body {
  position: relative;
  padding: 0 16px 16px 16px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 255, 0.6)), to(rgba(255, 255, 0, 0.6)));
  background: linear-gradient(to right, rgba(0, 0, 255, 0.6), rgba(255, 255, 0, 0.6));
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* header */
.header {
  text-align: center;
  padding: 24px;
  line-height: 1.2;
  font-size: 36px;
  font-weight: 550;
}

/* ul */
.root-ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(335px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
}

@media screen and (max-width: 388px) {
  .root-ul {
    -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.root-ul li {
  padding: 16px;
  border: 2px dotted red;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root-ul li h1 {
  font-size: 26px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 42px;
}

.root-ul li p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 16px;
}

.root-ul li a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

/* characterlist */
.characters-list {
  background-color: blue;
  padding: 16px;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 16px;
  border-radius: 16px;
  display: none;
}

.characters-list header {
  font-size: 24px;
  color: white;
  margin-bottom: 24px;
}

.characters-list button {
  position: absolute;
  right: 16px;
  font-size: 16px;
  padding: 4px 16px;
}

.characters-list li {
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 8px;
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.3;
  font-size: 24px;
  border-radius: 8px;
}

@-webkit-keyframes donut-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes donut-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 36px auto;
  -webkit-animation: donut-spin 1.2s linear infinite;
          animation: donut-spin 1.2s linear infinite;
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-message {
  padding: 56px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 550;
  color: red;
  height: 100vh;
  display: none;
}
/*# sourceMappingURL=style.css.map */